* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.aside {
  background-color: #222935;
  max-width: 250px;
}

h1,
h2 {
  margin-bottom: 50px;
  margin-top: 20px;
  /* background-color: #26c17e; */
}

.nav-ul {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  gap: 30px;
  background-color: #222935;
  margin-left: 20px;
}
.contact-ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: "Open Sans";
  font-size: 16px;
  color: #222935;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.contact-ul p {
  color: #000;
  font-weight: 700;
}
.contact-ul span {
  font-weight: 400;
}
a {
  /* text-decoration: none; */
}
ul li {
  list-style: none;
  font-size: 16px;
  color: #667081;
}

.icon {
  font-size: 15px;
  margin-right: 15px;
}

.nav-link {
  text-decoration: none;
  color: #667081;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #26c17e;
}

h1,
h2 {
  font-size: 25px;
  color: #26c17e;
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
}

.layout {
  display: flex;
}

main {
  margin: 20px;
}

.avatar {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}
.photo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  margin-bottom: 50px;
}

.name {
  color: #fff;
  margin: 0px;
}

.contact-icon {
  font-size: 25px;
  color: #26c17e;
}
.contact-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.contact-list_item {
  display: flex;
  gap: 20px;
}
.contact-list_item {
  cursor: pointer;
  text-decoration: none; /* Remove default underline */
  color: #007bff;
  color: #000; /* Set the link color */
}

.contact-list_item:hover {
  text-decoration: underline; /* Add underline on hover */
}

.item {
  display: inline-block;
  margin-right: 15px;
}
.about-text {
  line-height: 21px;
}

/* 
experience section
*/

.experience-item {
  font-family: "Opeb Sans";
  font-size: 16px;
  margin-bottom: 50px;
  position: relative;
}
.info {
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.company {
  font-weight: 700;
}

.description {
  grid-column: 2;
  margin-top: 5px;
}
.job {
  font-weight: 700;
}

.date {
  position: absolute;
  top: 25px;
  left: 0;
}
@media only screen and (min-width: 600px) {
  nav {
    width: 250px;
  }
}
